{{#if payload}}
<h1>Contact info</h1>

<div class="c2">
   <ul class="c3">
      <li>First Name: {{payload.fname}}</li>
      <li>Last Name: {{payload.lname}}</li>
      <li>Number: {{payload.number}}</li>
      <li>Saved Location: {{payload.loc}}</li>
   </ul>
</div>
{{else}}
<h1>No such Contact</h1>
{{/if}}